/*==================================== Imports ====================================*/

@import 'partials/reset';

/*==================================== General ====================================*/

$bg-color : lighten(black, 45%);
$color-buttons: #bfbfbf;
$color-dark : #344669;
$color-light-1: #55bdff;
$color-light-2: #ff8d16;
$text-color: white;

body{
  background-color: $bg-color;
}
*{
  box-sizing: border-box;
}
.inner{
  max-width: 1080px;
  margin: 0 auto;
}

/*==================================== Header ====================================*/

header{
  color: $text-color;
  text-align: center;
  padding: 0 5px;
  .app-title{
    font-size: 2em;
    font-family: "Agency FB", sans-serif;
    margin: 12vh 0 20px;
    color: $color-light-2;
    @media screen and (min-width: 1080px){
      font-size: 3em;
    }
  }
  .app-description{
    font-size: 1em;
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: 15vh;
    line-height: 1.25em;
    @media screen and (min-width: 1080px){
      font-size: 1.25em;
    }
  }
}
/*==================================== Main ====================================*/
.calculator-wrapper{
  max-width: 550px;
  margin: 0 auto 20vh;
  background-color: $color-dark;
  padding: 25px;
}
.calculator-header {
  border: black solid 1px;
  position: relative;
  margin: 0 2px;
  .output, .input {
    background-color: white;
    text-align: right;
    padding-left: 55px;
    padding-right: 20px;
    font-family: "Source Sans Pro", sans-serif;
  }
  .output {
    font-size: 1.25em;
    padding-top: 10px;
    height: 30px;
  }
  .input {
    font-size: 2em;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 62px;
    //overflow-x: scroll;
    //overflow-y: hidden;
  }
  .angle-trigonometric-options{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 50px;
    div{
      font-family: "Agency FB", sans-serif;
      font-size: 1em;
      text-align: center;
      padding: 5px 0;
      border: #000 solid 1px;
      margin-left: 10px;
      background-color: $color-buttons;
      cursor: pointer;
      transition: all 0.2s;
      &:nth-child(1){
        margin-top: 10px;
        margin-bottom: 5px;
      }
      &:active{
        background-color: $color-light-2;
      }
    }
  }
}
.calculator-buttons{
  margin-top: 10px;
  .buttons-top-row, .buttons-columns, .buttons-advance, .buttons-basic{
    display: grid;
  }
  .buttons-top-row, .buttons-basic, .buttons-advance{
    div{
      background-color: $color-buttons;
      margin: 2px;
      text-align: center;
      font-family: "Agency FB", sans-serif;
      padding: 5px 0;
      cursor: pointer;
      font-size: 1.5em;
      transition: all 0.2s;
      &:hover{
        color: #fff;
      }
      &:active{
        background-color: $color-light-2;
      }
    }
    .highlighted-btn{
      background-color: $color-light-1;
    }
  }
  .buttons-top-row{
    grid-template-columns: repeat(7, 1fr);
  }
  .buttons-columns{
    grid-template-columns: 1fr 2.5fr;
    .buttons-basic{
      grid-template-columns: repeat(5, 1fr);
      z-index: 10;
      .equals{
        grid-row: span 2;
        align-self: center;
        padding: 24px 0;
        background-color: $color-light-2;
        &:hover{
          color: #fff;
        }
        &:active{
          background-color: $color-light-1;
        }
      }
    }
    .buttons-advance{
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      .power{
        font-size: 1.25em;
        span{
          vertical-align: super;
          font-size: smaller;
        }
      }
    }
    .advance-options-wrapper{
      overflow: hidden;
      .advance-options{
        display: flex;
        width: 200%;
        height: 100%;
        position: relative;
        left: 0;
        transition: all 0.4s;
      }
    }
  }
}
/*==================================== Footer ====================================*/
footer{
  background-color: $color-dark;
  color: $text-color;
  text-align: center;
  .app-footer{
    font-size: 1em;
    font-family: "Source Sans Pro", sans-serif;
    padding: 30px 0 50px;
  }
}
